# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.mypy_cache/
.pytest_cache/
.cache/

# Packaging
build/
dist/
*.egg-info/

# Environments
.venv/
.env/

# Editors
.idea/
.vscode/

# Telemetry output
telemetry/
